.fs-1 {
    font-size: 72px !important;
}

.fs-1-medium {
    font-size: 56px !important;
}

.fs-2 {
    font-size: 24px !important;
}

.fs-3 {
    font-size: 18px !important;
}

.fs-4 {
    font-size: 16px !important;
}

.fs-5 {
    font-size: 14px !important;
}

.fs-6 {
    font-size: 12px !important;
}

.fs-6-small {
    font-size: 10px !important;
}

.letter-spacing-0 {
    letter-spacing: 0px;
}

.letter-spacing-06 {
    letter-spacing: 0.6px;
}

.letter-spacing-1 {
    letter-spacing: 1px;
}

.letter-spacing-12 {
    letter-spacing: 1.2px;
}

.letter-spacing-15 {
    letter-spacing: 1.5px;
}

.letter-spacing-25 {
    letter-spacing: 2.5px;
}

.letter-spacing-3 {
    letter-spacing: 3px;
}

.letter-spacing-36 {
    letter-spacing: 3.6px;
}

.letter-spacing-45 {
    letter-spacing: 4.5px;
}

.letter-spacing-64 {
    letter-spacing: 6.4px;
}

.letter-spacing-9 {
    letter-spacing: 9px;
}

.letter-spacing-75 {
    letter-spacing: 7.5px;
}

.letter-spacing-11 {
    letter-spacing: 11px;
}

.letter-spacing-14 {
    letter-spacing: 14px;
}

.letter-spacing-20 {
    letter-spacing: 20px;
}

.line-height-20 {
    line-height: 20px;
}

@media only screen and (min-width: 1200px) {
    .fs-xl-1 {
        font-size: 36px;
    }

    .fs-xl-1-medium {
        font-size: 56px !important;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 14px;
    }

    .fs-xl-1-large {
        font-size: 72px !important;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 14.4px;
    }

    .fs-xl-1-xxl {
        font-size: 118px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 4.72px;
    }

    .fs-xl-2 {
        font-size: 30px !important;
    }

    .fs-xl-2-medium {
        font-size: 36px !important;
    }

    .fs-xl-3 {
        font-size: 28px !important;
    }

    .fs-xl-3-medium {
        font-size: 24px !important;
    }

    .fs-xl-3-small {
        font-size: 22px !important;
    }

    .fs-xl-4 {
        font-size: 20px !important;
    }

    .fs-xl-5 {
        font-size: 18px !important;
    }

    .fs-xl-5-medium {
        font-size: 16px !important;
    }

    .fs-xl-6 {
        font-size: 10px !important;
    }

    .fs-xl-6-medium {
        font-size: 13px !important;
        letter-spacing: 0.65px;
        line-height: 20px;
    }

    .fs-xl-6-small {
        font-size: 12px !important;
        line-height: 20px;
    }

    .letter-spacing-xl-0 {
        letter-spacing: 0px;
    }

    .letter-spacing-xl-1 {
        letter-spacing: 1px;
    }

    .letter-spacing-xl-12 {
        letter-spacing: 1.2px;
    }

    .letter-spacing-xl-15 {
        letter-spacing: 1.5px;
    }

    .letter-spacing-xl-25 {
        letter-spacing: 2.5px;
    }

    .letter-spacing-xl-3 {
        letter-spacing: 3px;
    }

    .letter-spacing-xl-36 {
        letter-spacing: 3.6px;
    }

    .letter-spacing-xl-9 {
        letter-spacing: 9px;
    }

    .letter-spacing-xl-75 {
        letter-spacing: 7.5px;
    }

    .letter-spacing-xl-14 {
        letter-spacing: 14px;
    }

    .letter-spacing-xl-20 {
        letter-spacing: 20px;
    }

    .line-xl-height-30 {
        line-height: 30px;
    }

    .line-xl-height-normal {
        line-height: normal;
    }
}